#background {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

#bgcover {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
  background-color: #000c;
}
.search {
  width: 100%;
  position: absolute;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 2rem;
  width: 100%;
  border-radius: 1rem 0 0 1rem;
  outline: none;
  color: black;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  width: 56px;
  height: 2rem;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
  font-size: 20px;
}
.wrap {
  width: 80%;
  position: absolute;
  top: 15rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
#cover {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
